.palette {
  --tints-count: 9;
  --swatch-size: 50px;

  gap: 0.5px;
  display: grid;
  align-items: center;
  grid-template-columns: max-content repeat(var(--tints-count), var(--swatch-size));

  dt {
    text-align: center;
    padding: 0 0 0.5em 0;
  }

  dt:has(+ dd) {
    text-align: right;
    padding: 0 1em 0 0;
    text-transform: capitalize;
  }

  dd {
    margin: 0;
    aspect-ratio: 1;
  }
}

.swatch {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}
