.palette {
  --tints-count: 9;
  --swatch-size: min(8vw, 50px);

  margin: 0;
  gap: 0.5px;
  display: grid;
  align-items: center;
  grid-template-columns: max-content repeat(var(--tints-count), var(--swatch-size));

  dt {
    text-align: center;
    padding: 0 0 0.5em 0;
  }

  dt:has(+ dd) {
    text-align: left;
    padding: 0 1em 0 0;
  }

  dd {
    margin: 0;
    aspect-ratio: 1;
  }
}

.color {
  padding: 2em;
  text-align: center;
  font-size: var(--font-size-xl);
  border-radius: var(--border-radius-md);
}

.contrast {
  gap: 0.75em;
  display: flex;
  align-items: center;
  line-height: var(--line-height-sm);

  &_preview {
    width: 2em;
    height: 2em;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    font-size: var(--font-size-lg);
    border-radius: var(--border-radius-sm);  
  }
}

@media (max-width: 800px) {
  .form > [data-flex=row] {
    flex-wrap: wrap;
  }
}

.swatch {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}
