:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #101010;
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (prefers-color-scheme: dark) {
    color: #EEE;
    background-color: #202020;
  }  
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
}

#root {
  display: flex;
  padding: 2rem;
  min-height: 100dvh;
}

main {
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

button {
  font: inherit;
  cursor: pointer;
}

.logo {
  width: 5em;
  height: 5em;
}